.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }

.grid__gutters {
  margin-left: -1em; }
  .grid__gutters .grid-cell {
    padding-left: 1em; }

.homeHeader__title-root {
  flex: 1; }

@media (min-width: 400px) {
  .grid__1of2 > .grid-cell {
    flex: 1; } }

@media (min-width: 600px) {
  .grid__1of2 > .grid-cell {
    flex: 1; } }

@media (min-width: 1000px) {
  .grid__1of2 > .grid-cell {
    flex: 0 0 50%;
    flex-grow: 1; } }

.homeHeader__title, .homeHeader__title-right, .homeHeader__title-left {
  margin-left: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: #fff; }

.homeHeader__title-left {
  border-left: 1px solid #fff;
  padding-left: 24px; }

.homeHeader__title-right {
  border-right: 1px solid #fff;
  padding-right: 24px; }

.homeHeader__right {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin-left: -24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.homeHeader__notify {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ff1717;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  cursor: pointer;
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center; }

.homeHeader__notify div.title {
  color: white;
  font-size: 10px;
  font-weight: 400;
  white-space: nowrap;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.grid__space-around {
  justify-content: space-around; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animate-top {
  position: relative;
  animation: animatetop 0.4s; }

@media (min-width: 993px) {
  .blog__right-list {
    margin-left: 2%; } }

.g-load-more {
  text-align: center;
  padding-top: 4px;
  background-color: #ffffff59;
  padding-bottom: 4px;
  width: 76px;
  margin: 3px auto 15px;
  border-radius: 9px; }
  